.wrapper {
    padding: 20px;
    margin: 0px;
    text-align: center;
}

#graphCanvas {
    border: 1px solid black;
}

h1, h2 {
    font-family: "DuckSans-Bold";
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

#userInput {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid black;
}