:root {
    --layer1: #171717;
    --layer2: #1F1F1F;
    --layer3: #333333;
    --layer4: #3F3F46;
    --textColor: #fff;
    --iconFilter: invert(100%) sepia(2%) saturate(0%) hue-rotate(179deg) brightness(102%) contrast(105%);
    --shadowBox: #3F3F46;
}

* {
    font-family: "DuckSans-Regular";
    color: var(--textColor);
}

html, body {
    margin: 0px;
    padding: 0px;
    background-color: var(--layer1);
}

.wrapper {
    margin: 0px;
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.changeTheme {
    position: absolute;
    top: 30px;
    right: 40px;
    background-color: var(--layer2);
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.1s ease;
}

.changeTheme:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px var(--shadowBox);
    transform: scale(1.1);
}

.changeTheme img {
    width: 40px;
    filter: var(--iconFilter);
}

#graphCanvas {
    border: 1px solid black;
}

h1, h2 {
    font-family: "DuckSans-Bold";
}

h1 {
    margin-bottom: 0px;
}

h2 {
    margin-top: 0px;
}

.yFunctionText{
    font-size: 24px;
}

#userInput {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid var(--layer3);
    background-color: var(--layer2);
}

#userInput:focus {
    outline: none;
    box-shadow: 0px 0px 10px var(--layer3);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: var(--layer2);
    padding: 15px 10px;
    width: 600px;
    border-radius: 10px;
    border: 2px solid var(--layer3);
}

.buttons > div {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
    background-color: var(--layer3);
}

.buttons > div:hover {
    cursor: pointer;
}

.buttons > div > img {
    height: 20px;
    margin-right: 3px;
    filter: var(--iconFilter);
}

.popup {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 100px;
    background-color: #87eb75;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #87eb75;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

.popup h1, .popup h2 {
    margin: 0px;
    font-size: 24px;
}

.popup h2 {
    font-size: 18px;
}